$app-padding: 70px;

body {
  margin: 0;
  font: {
    size: 16px;
    family: sans-serif;
  }
  background-color: #ebebeb;
}

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: $app-padding 26px auto auto;

  @media(min-width: 768px) {
    grid-template-columns: auto 615px auto;
  }

  .pencil {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 40px auto 18px;
    height: 27px;

    .lead {
      background: {
        image: url("../../res/svg/pencil-sprite.svg");
        repeat: no-repeat;
        position-x: 3.7px;
      }
      overflow-x: hidden;
    }

    .body {
      display: grid;
      grid-template-columns: auto 26px;
      background: {
        image: url("../../res/svg/pencil-sprite.svg");
        repeat: repeat-x;
        position-y: -27.2px;
      }
      line-height: 27px;
      padding-left: 5px;

      font: {
        size: 0.8rem;
        weight: bold;
      }

      & .settings-button {
        background: {
          color: transparent;
          image: url("../../res/svg/settings.svg");
          size: 70%;
          position: center center;
          repeat: no-repeat;
        }
        opacity: .7;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    .eraser {
      background: {
        image: url("../../res/svg/pencil-sprite.svg");
        repeat: no-repeat;
        position-x: -62px;
      }
    }
  }

  .app {
    grid-row: 3;
    grid-column: 2;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    overflow: hidden;
  }
  padding-bottom: $app-padding;
}
